$primary-background: #000022;
$secondary-background: #001242;
$primary: #0094c6;

.calculator {
   min-height: 100vh;
   background-color: $primary-background;
   display: flex;
   justify-content: center;
   align-items: center;

   &__container {
      background: $secondary-background;
      width: 300px;
      height: 500px;
      box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
         0 4px 6px -2px rgba(0, 0, 0, 0.05);
      display: flex;
      flex-direction: column;
      border-radius: 0.5rem;
   }

   &__output {
      background-color: $secondary-background;
      padding: 1.25rem;
      border-bottom: 5px solid $primary;
      text-align: right;
      border-top-left-radius: 0.5rem;
      border-top-right-radius: 0.5rem;
      display: flex;
      flex-direction: column;
   }

   &__input {
      color: #99e6ff;
      font-size: 0.8rem;
      font-weight: 600;
      min-height: 12px;
   }

   &__total {
      font-weight: 600;
      color: $primary;
      font-size: 2.75rem;
      margin-top: 0.75rem;
   }

   &__options {
      display: grid;
      grid-template-columns: repeat(4, minmax(0, 1fr));
      grid-template-rows: repeat(5, minmax(0, 1fr));
      grid-gap: 0.75rem;
      background-color: #040f16;
      height: -webkit-fill-available;
      height: stretch;
      padding: 1.75rem 1.25rem;
      border-bottom-left-radius: 0.5rem;
      border-bottom-right-radius: 0.5rem;
   }

   &__option {
      display: flex;
      justify-content: center;
      align-items: center;
      color: $primary;
      border: none;
      border-radius: 50%;
      cursor: pointer;
      font-size: 1.75rem;
      font-family: "Nunito", sans-serif;
      background: transparent;
      transition: 0.2s all;

      &--operation {
         background: $secondary-background;
      }

      &:hover {
         background: #001b66;
      }
   }
}
