$primary-text: #ade5cc;
$primary-bg: #0c1025;
$highlight-text: #b1ffe3;

.calculator {
   min-height: 100vh;
   background-color: #4ec194;
   display: flex;
   justify-content: center;
   align-items: center;

   &__container {
      background: $primary-bg;
      width: 300px;
      height: 500px;
      box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
         0 4px 6px -2px rgba(0, 0, 0, 0.05);
      display: flex;
      flex-direction: column;
      border-radius: 0.5rem;
   }

   &__output {
      background-color: $primary-bg;
      padding: 1.25rem;
      border-bottom: 4px solid $highlight-text;
      text-align: right;
      display: flex;
      flex-direction: column;
      min-height: 60px;
      border-top-left-radius: 0.5rem;
      border-top-right-radius: 0.5rem;
   }

   &__input {
      color: $highlight-text;
      font-size: 0.8rem;
      font-weight: 600;
      min-height: 12px;
   }

   &__total {
      font-weight: 500;
      color: $primary-text;
      font-size: 2.75rem;
      margin-top: 0.75rem;

      &--shrink {
         font-size: 1.25rem;
      }
   }

   &__options {
      display: grid;
      grid-template-columns: repeat(4, minmax(0, 1fr));
      grid-template-rows: repeat(5, minmax(0, 1fr));
      grid-gap: 0.75rem;
      background-color: $primary-bg;
      height: -webkit-fill-available;
      height: stretch;
      padding: 1.75rem 1.25rem;
      border-bottom-left-radius: 0.5rem;
      border-bottom-right-radius: 0.5rem;
   }

   &__option {
      display: flex;
      justify-content: center;
      align-items: center;
      color: #42b883;
      border: none;
      border-radius: 50%;
      cursor: pointer;
      font-size: 1.75rem;
      background: transparent;
      transition: 0.2s all;
      font-weight: 500;
      width: 50px;
      height: 50px;

      &--operation {
         background: #42b883b8;
         color: $primary-text;
      }

      &:hover {
         background: #42b883ed;
         color: #c2ffe9;
      }
   }
}
